body {
    background-color: #001f3f;
    color: #ffffff;
}

.container {
text-align: center;
}
.container p {
    font-size: 26px;
}
button {
    border-radius: 6px;
    background-color: #001f3f;
    border: none;
    color: white;
    padding: 16px 32px;
    border: 2px solid white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
