#calculator-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  margin: 20px auto;
}

#calculator-form > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

section label {
  width: 200px;
  text-align: center;
  margin-right: 10px;
}

section input {
  flex: 1;
}